<ul>
  <li>
    <a [routerLink]="['/employees']" routerLinkActive="active">Сотрудники</a>
    <div class="submenu">
      <div>
        <a [routerLink]="['/employees', 'accounting-of-employees']" routerLinkActive="active">Усправление сотрудниками</a>
      </div>
      <div>
        <a [routerLink]="['/employees', 'positions']" routerLinkActive="active">Должности</a>
      </div>
    </div>
  </li>
  <li>
    <a [routerLink]="['/products-and-tariffs']" routerLinkActive="active">Товары и тарифы</a>

    <div>
      <a [routerLink]="['/products-and-tariffs', 'products']" routerLinkActive="active">Продукты</a>
    </div>
    <div>
      <a [routerLink]="['/products-and-tariffs', 'tariffs']" routerLinkActive="active">Тарифы</a>
    </div>
<!--    <div class="submenu">-->
<!--      <div>3</div>-->
<!--      <div>4</div>-->
<!--    </div>-->
  </li>
  <li>
    <a [routerLink]="['/devices']" routerLinkActive="active">Устройства</a>
    <div class="submenu">
      <div>
        <a [routerLink]="['/devices', 'firmwares']" routerLinkActive="active">Прошивки</a>
      </div>
      <div>
        <a [routerLink]="['/devices', 'devices']" routerLinkActive="active">Устройства (ПСУ)</a>
      </div>
    </div>
  </li>
</ul>

<router-outlet></router-outlet>
